{% extends "base.html" %}
{% block content %}


<body id="singlepet" >

    <div class="boxed2">
<li><a href="/pets/new">New Creature</a></li>
</div>
    <br>

    <br>

<section id="list">

{% for pet in all_pets %}
<div class="boxed">

    Checked in: {{pet.checked_in}}<br>
    Name: <a href="/pets/{{pet.id}}">{{pet.name}} </a><br>
    Breed: {{pet.breed}} <br>
    Owner Name: {{pet.owner_name}} <br>
    Vet: {{pet.vet.first_name}} {{pet.vet.last_name}}<br>
    Pet ID: {{pet.id}}
 
<form action="/pets/delete/{{pet.id}}" method='POST'>
<input class ="button" type="submit" onclick="return confirm('Are you sure you want to remove {{pet.name}}');"value ="Remove Creature">
</form>
</div>
<br>
<br>
{% endfor %}

</section>
{% endblock %}
    



</body>



