{% extends "base.html" %}
{% block content %}
show  fluff - this is my individual pet view. be nice to have a seperate link to notes. maybe add a pic?


<body id="singlepet">

    <div class="boxed">
<div>
    Name:<br>{{pet.name}}<br>
    Breed:<br>{{pet.breed}}<br>
    Gender:<br>{{pet.gender}}<br>
    Birthday:<br>{{pet.birthday}}<br>
    Owner:<br>{{pet.owner_name}}<br>
    Contact Details:<br>{{pet.contact_details}}<br>
    Checked in:<br>{{pet.checked_in}}<br>
    Keeper: <br>{{pet.vet.first_name}}<br>{{pet.vet.last_name}}
</div>

<div>
<p><a href="/pets/{{pet.id}}/edit">Edit</a></p>
<p><a href="/pets/{{pet.id}}/notes">notes</a></p>
</div>
</div>
{% endblock %}

</body>