{% extends "base.html" %}
{% block content %}
edit fluff

<div class="boxed">

<form action="/vets/{{vet.id}}" method="POST">

    <div>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name">
    </div>
    <div>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name">
    </div>
    <div>
        <label for="speciality">speciality:</label>
        <input type="text" name="speciality" id="speciality">
    </div>




    <button type="submit">update vet</button>

</form>
</div>
{% endblock %} 