{% extends "base.html" %}
{% block content %}

<section id="list">
<body id="singlekeeper">

<div class="boxed2">
<li><a href="/vets/new">New Keeper</a></li>
</div>

</section>

<section id="list">

{% for vet in all_vets %}
<div class="boxed">
<br>

<br>
Keeper Name: <a href="/vets/{{vet.id}}"><br><br>{{vet.first_name}} <br>{{vet.last_name}}</a>
<br>
<br>
<form action="/vets/delete/{{vet.id}}" method='POST'>
    <input type="submit"  onclick="return confirm('Are you sure you want to remove {{vet.first_name}} {{vet.last_name}}');" value="Remove Keeper" >
</form>
</div>

{% endfor %}
<br>

<br>
<hr>
<br>

</div>
</section>

{% endblock %}

</body>