{% extends "base.html" %}
{% block content %}

<section id="list">
<body id="singlepetnew">

<div class="boxed">
<form action="/vets" method="POST">

    <div>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" placeholder="First Name" id="first_name">
    </div>
    <div>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" placeholder="Last Name" id="last_name">
    </div>
    <div>
        <label for="speciality">Speciality:</label>
        <input type="text" name="speciality" placeholder="Dogs etc" id="speciality">
    </div>


    <button class="button" type="submit">Add Keeper</button>

</form>
</div>
</section>
{% endblock %}

</body>