{% extends "base.html" %}
{% block content %}

<section id="list">
<body id="singlekeeper">
<!-- all vet fluff - this is just a nice little extra. be cool if i can show list of all the pets tied to a vet
I want the functionlality to add and delete vets -->
<div class="keeperboxed">
<div>
    Keeper: First Name:     <br> {{vet.first_name}}<br>
    <br>
    <br>
    Keeper: Last Name:       <br>{{vet.last_name}}<br>
    <br>
    <br>
    Speciality:      <br>{{vet.speciality}}
    <br>
    <br>
    <br>
        Assigned Creatures:
    {%for pet in pets%}
    <p>{{pet.name}}</p>
    {% endfor %}

    
</div>
<br>
<br>
<br>
<div>
    <p><a href="/vets/{{vet.id}}/edit">Change Keeper Details</a></p>
</div>
</div>
{% endblock %}
</section>
</body>