<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pets List</title>

</head>

<body>
    <header>
        <h1>Leith Vets</h1>
        <!-- <title>Search</title>
        <input id="search" type ="text">
        <button id="btnsearch">Search</button>
        <form action="/" method="GET"> -->
            <!-- want search bar functionality -->
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/vets">Vets</a></li>
                <li><a href="/pets">Pets</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>